@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100&display=swap');

/*параметры окна*/
.test {
    border: 1px solid #FF7A00;
    margin: 140px auto 0 auto;
    width: 720px;
}

/*параметры ромба*/
.diamond{
    border: 1px solid #FF7A00;
    background-color: #ffffff;
    position: absolute;
    margin: 100px auto;
    top: 0;
    left: 0;
    right: 0;
    width: 160px;
    height: 80px;
}

/*Параметры текста в ромбе*/
.score{
    font: 24px Oswald;
    color: #FF7A00;
    margin: 24px auto;
    text-align: center;
    font-weight: bold;
}

/*Параметры картинки*/
.picture{
    width: 640px;
    height: 400px;
    padding: 80px 40px 0 40px;
}

/*Параметры заголовка*/
.title{
    font: 48px Oswald;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 100px 40px 0 40px;
}

/*Параметры краткого описания*/
.shortDes{
    font: 36px Oswald;
    color: black;
    text-align: justify;
    line-height: 36px;
    margin: 16px 40px 80px 40px;
}

/*активная кнопка посередине - проверено*/
.next{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 240px;
    height: 120px;
    margin: 560px auto;
    background-color: #FF7A00;
    border: #FF7A00;
    box-shadow: 0 10px 10px #ff7a0066;
    border-radius: 4px;
    font: 36px Oswald;
    color: #ffffff;
}

/*АК при наведении - проверено*/
.nextMouseover{
    width: 260px;
}

/*К снизу - проверено*/
.nextBottom{
    margin: 1024px auto 0 auto;
}

/*Неактивная кнопка - проверено*/
.nextNotActive{
    background-color: #ff7a00a3;
    box-shadow: none;
}

/*Настройки текста вопроса - просто не лезь сюда*/
/*настройки родителя*/
.question {
	padding-left: 20px;
    padding-right: 20px;
	line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 220px auto;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}

/*настройки текста*/
.question span {
	display: inline;
	background-color: #FF7A00;
	box-shadow: -10px 0 0 #FF7A00, 10px 0 0 #FF7A00;
	color: #FFFFFF;
	font: 36px Oswald;
    font-weight: bold;
    margin: 0 0 8px 0;
}
/**/

/*Настройки для блока кнопок*/
.answers{
    display: flex;
	flex-direction: column;
    margin: 20px 40px 200px 40px;
}

/*Активная кнопка ответа*/
.answer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
    height: 80px;
    border: 1px solid #FF7A00;
    background-color: #FFFFFF;
    font: 36px Oswald;
    margin: 4px 0;
    text-align: left;
    padding: 8px 0 8px 20px;
}

/*Активная кнопка ответа при наведении*/
.answerMouseover{
    color:#FF7A00;
}

/*Активная кнопка с правильным ответом*/
.answerTrue{
    background-color: #FF7A00;
    color: #FFFFFF;
}

/*Активная кнопка с неправильным ответом*/
.answerFalse{
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
}

/*Неактивная кнопка*/
.answerOther{
    border: 1px solid #00000066;
    color: #00000066;
}

/*Настройки иконки */
.icon{
    margin: auto 32px;
}